.pagination {
    display: flex;
    &__container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 96%;
        height: 30px;
        margin: 1rem auto;
        border-radius: 8px;
        border: 1px solid #e8e8e9;
        box-shadow: 2px 2px 2px rgb(204, 204, 204);
    }
    &__item {
        list-style-type: none;
        justify-content: space-between;
    }
}