// Font Faces
// Primary Font Faces
@font-face {
    font-family: 'Avenir Next';
    src: url('../../../src/assets/fonts/Linotype-AvenirNextLTPro-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('../../../src/assets/fonts/Linotype-AvenirNextLTPro-Demi.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('../../../src/assets/fonts/Linotype-AvenirNextLTPro-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}
// Alternative Font Faces
@font-face {
    font-family: 'Roboto';
    src: url('../../../src/assets/fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../../../src/assets/fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../../../src/assets/fonts/Roboto-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('../../../src/assets/fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../../../src/assets/fonts/Roboto-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

// Font Family
$font-family: "Avenir Next", "Roboto", Arial, Helvetica, sans-serif;

// Global Font Variables
// Base Font Size
$base-font-size: 16px;
// Desktop and Tablet
$dt-h1-hero-header: 3.75 * $base-font-size;
$dt-h1-hero-header-lh: 4.25 * $base-font-size;
$dt-h1-header: 2.25 * $base-font-size;
$dt-h1-header-lh: 2.75 * $base-font-size;
$dt-h2-header: 1.5 * $base-font-size;
$dt-h2-header-lh: 2 * $base-font-size;
$dt-h3-Subheader: $base-font-size;
$dt-h3-Subheader-lh: 1.5 * $base-font-size;
$dt-h4-p-comments: .875 * $base-font-size;
$dt-h4-p-comments-lh: 1.375 * $base-font-size;
$dt-h4-list-contact: .875 * $base-font-size;
$dt-h4-list-contact-lh: 1.25 * $base-font-size;
$dt-h5-label: .75 * $base-font-size;
$dt-h5-label-lh: 1.25 * $base-font-size;
// Mobile
$m-h1-header: 1.5 * $base-font-size;
$m-h1-header-lh: 2 * $base-font-size;
$m-h2-subheader: .875 * $base-font-size;
$m-h2-subheader-lh: 1.375 * $base-font-size;
$m-h4-p: .8125 * $base-font-size;
$m-h4-p-lh: 1.125 * $base-font-size;
$m-h4-list-contact: .8125 * $base-font-size;
$m-h4-list-contact-lh: 1.125 * $base-font-size;
$m-h5-label: .75 * $base-font-size;
$m-h5-label-lh: 1.25 * $base-font-size;
// Text Color
$font-color: #323232;