// Global Variables

//Color - Global
$color-paragraph-text: #323232;
$color-text-label-style: #AFAFAF;
$color-text-field-border: #E1E1E1;
$color-form-input-bg: #E1E1E1;
$color-text-field-bg-fill: #FAFAFA;
$color-text-offset: #FFFFFF;
$color-background: #FFFFFF;
$color-nav-link-hero: rgb(143, 136, 149);

// Color - BrainFlix
$color-nav-bg-fill: #323232;
$color-primary-cta-text-link: #0095FF;
$color-primary-cta: #0095FF;
$color-primary-cta-hover: #0065AD;
$color-secondary-cta-hover: #000000;
$color-divider: #E1E1E1;
$color-hero-img-bg: rgba(50,50,50,0.5);
$color-form-input-focus: #000000;
$color-form-input-placeholder: #000000;
